.cardex{
  text-align: center;
  background: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

.cardex:hover{
  background-image: linear-gradient(#b99848, #e1ca95);
  color: white;
}

.bloc{
  padding: 80px 0px;
}

.actions{
  margin-top: 62px;
  position: fixed;
  width: 100%;
  background: black;
  height: 80px;
}

.column-names{
  margin-top: 132px;
  width: 100%;
  background: black;
  position: fixed;
}

.customers{
  margin-top: 180px;
}

.modal-title{
  text-align: center;
}

.cardex-segment{
  border: 1px, solid, black;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background: white;
  border-radius: 4px;
  margin-bottom: 6px;
}

.cardex-segment:hover{
  background-image: linear-gradient(#b99848, #e1ca95);
  color: white;
}
