.cardex{
  text-align: center;
  background: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

.cardex:hover{
  background-image: linear-gradient(#b99848, #e1ca95);
  color: white;
}

.bloc{
  padding: 80px 0px;
}

.actions{
  margin-top: 62px;
  position: fixed;
  width: 100%;
  background: #f4f4f4;
  height: 80px;
}

.column-names{
  margin-top: 132px;
  width: 100%;
  background: #f4f4f4;
  position: fixed;
}

.customers{
  margin-top: 180px;
}


