.btn-nav{
  border: solid 1px;
  padding: 5px 10px;
  border-radius: 3px;
  background-image: linear-gradient(#3fc42b, #1dff00);
}

.btn-nav:hover{
  background-image: linear-gradient(white, white);
}

.btn-nav-pro{
  border: solid 1px;
  padding: 5px 10px;
  border-radius: 3px;
  background-image: linear-gradient(#b99848, #e1ca95);
  color: white;
}

.btn-nav-pro:hover{
  background-image: linear-gradient(white, white);
}

.btn-nav-visitor{
  border: solid 1px;
  padding: 5px 10px;
  border-radius: 3px;
  background-image: linear-gradient(#b99848, #e1ca95);
  color: white;
}

.btn-nav-visitor:hover{
  background-image: linear-gradient(white, white);
}

.press{
  text-align: center;
  border: solid 1px;
  background-image: linear-gradient(#b99848, #e1ca95);
  border-radius: 4px;
  margin-bottom: 10px;
}

.press:hover{
  background: white;
}

.press-inverted{
  text-align: center;
  border: solid 1px;
  background: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

.press-inverted:hover{
  background-image: linear-gradient(#b99848, #e1ca95);
}

.btn-validate{
  text-align: center;
  width: 100%;
  border-radius: 4px;
  background-image: linear-gradient(#b99848, #e1ca95);
}

.import{
  position: relative;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
  background: white;
  border: 1px solid black;
  display: inline-block;
  padding: 6px 6px;
  cursor: pointer;
  position: absolute;
  left: 0px;
  border-radius: 4px;
}

.action-buttons{
  padding-top: 14px;
}
.home-buttons{
  display: flex;
  align-content: space-between;
  justify-content: center;
}

