.customer{
  margin-bottom: 10px;
  background: white;
  border-radius: 4px;
  border: 1px solid;
}

.customer:hover{
  background-image: linear-gradient(#b99848, #e1ca95);
  color: black;
}

a{
  text-decoration: none;
  color: black;
}
