.customer{
  margin-bottom: 10px;
  background: white;
  border-radius: 4px;
}

.customer:hover{
  background: #2a6ed1;
  border-radius: 4px;
  color: white;
}

a{
  text-decoration: none;
  color: black;
}
