.form{
  background-color: white;
  padding: 20px;
  position: relative;
}

.form-for-new{
  margin-top: 60px;
}
.form h3{
  text-align: center;
  margin-bottom: 20px;
}

.form-btn .btn-validate{
  margin-top: 20px;
}

.form .btn-close{
  position: absolute;
  right: 20px;
  top: 20px;

}
