.search-form{
  width: 100%;
  background: #f4f4f4;
  position: fixed;
}

.search-form-control{
  display: block;
  width: 420px;
  margin: auto;
  position: relative;
  border-radius: 4px;
}

#search{
  padding-left: 40px;
}

.search-img{
  position: absolute;
  top: 8px;
  left: 10px;
}

.fas.fa-search{
  font-size: 24px;
}

.validate{
  background-image: linear-gradient(#b99848, #e1ca95);
  position: absolute;
  border: 1px solid;
  padding: 3px 6px;
  border-radius: 4px;
  top: 4px;
  right: 5px;
}

.validate:hover{
  background-image: linear-gradient(white, white);
}

.result-block{
  margin-top: 38px;
  width: 100%;
  background: #f4f4f4;
  position: fixed;
}

.results{
  display: block;
  width: 90px;
  margin: auto;
  position: relative;
  border-radius: 4px;
}
